<!DOCTYPE html>
html(lang="en")
	head
		title Document
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
	body
		#root
		script(src="/js/index.js")